name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Hacer checkout
      uses: actions/checkout@v4

    - name: Loguearse en Docker
      run: |
        echo "Logueandose..."
        docker login -u ${{secrets.DOCKER_USER}} -p ${{secrets.DOCKER_TOKEN}}
    
    - name: Construyendo la imagen
      run: docker build -t ${{secrets.DOCKER_USER}}/calculadora:latest .

    - name: Subiendo imagen
      run: docker push ${{secrets.DOCKER_USER}}/calculadora:latest
    
